<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script src="https://apis.openapi.sk.com/tmap/jsv2?version=1&appKey=l7xx1ec2541d58d94091ad0ac9b1909eda1b"></script>
    <script type="text/javascript">
      var map;
      var startLocation, endLocation;
      var marker_s, marker_e;

      function initTmap() {
        map = new Tmapv2.Map("map_div", {
          center: new Tmapv2.LatLng(37.818853, 127.056697),
          width: "100%",
          height: "400px",
          zoom: 16,
          zoomControl: true,
          scrollwheel: true,
        });

        map.addListener("click", handleMapClick);

        $("#btn_select").click(function () {
          if (!startLocation || !endLocation) {
            alert("출발지와 도착지를 선택하세요.");
            return;
          }

          calculateTaxiFareAndDistance(startLocation, endLocation);
        });

        function calculateTaxiFareAndDistance(startLocation, endLocation) {
          var startX = startLocation.lng();
          var startY = startLocation.lat();
          var endX = endLocation.lng();
          var endY = endLocation.lat();

          // 택시 요금 및 거리 계산을 위한 API 호출
          $.ajax({
            url: "https://apis.openapi.sk.com/tmap/routes/taxi?version=1&format=json",
            method: "GET",
            data: {
              startX: startX,
              startY: startY,
              endX: endX,
              endY: endY,
              appKey: "l7xx1ec2541d58d94091ad0ac9b1909eda1b",
            },
            success: function (response) {
              // API 요청이 성공했을 때 처리
              var taxiFare = response.features[0].properties.taxiFare; // 예상 택시 요금
              var distance = response.features[0].properties.totalDistance; // 총 거리

              // 요금과 거리 정보를 화면에 출력
              $("#taxi_fare").text(
                "예상 택시 요금: " + addComma(taxiFare) + "원"
              );
              $("#distance").text("총 거리: " + addComma(distance) + "m");
            },
            error: function (error) {
              // API 요청이 실패했을 때 처리
              console.error("택시 요금 및 거리 계산에 실패했습니다.", error);
            },
          });
        }
      }

      function handleMapClick(e) {
        var clickedLocation = e.latLng;

        if (!startLocation) {
          setStartLocation(clickedLocation);
          placeSymbol(clickedLocation, "start");
        } else if (!endLocation) {
          setEndLocation(clickedLocation);
          placeSymbol(clickedLocation, "end");
        }
      }

      function setStartLocation(location) {
        startLocation = location;
      }

      function setEndLocation(location) {
        endLocation = location;
      }

      function placeSymbol(location, type) {
        if (type === "start") {
          if (marker_s) {
            marker_s.setMap(null);
          }

          marker_s = new Tmapv2.Marker({
            position: location,
            icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_s.png",
            iconSize: new Tmapv2.Size(24, 38),
            map: map,
          });
        } else if (type === "end") {
          if (marker_e) {
            marker_e.setMap(null);
          }

          marker_e = new Tmapv2.Marker({
            position: location,
            icon: "http://tmapapi.sktelecom.com/upload/tmap/marker/pin_r_m_e.png",
            iconSize: new Tmapv2.Size(24, 38),
            map: map,
          });
        }
      }

      function calculateTaxiFareAndDistance(startLocation, endLocation) {
        var startX = startLocation.lng();
        var startY = startLocation.lat();
        var endX = endLocation.lng();
        var endY = endLocation.lat();

        // 택시 요금 및 거리 계산을 위한 API 호출
        $.ajax({
          url: "https://apis.openapi.sk.com/tmap/routes/taxi?version=1&format=json",
          method: "GET",
          data: {
            startX: startX,
            startY: startY,
            endX: endX,
            endY: endY,
            appKey: process.env.appKey, // 환경 변수에서 API 키 가져옴
          },
          success: function (response) {
            // API 요청이 성공했을 때 처리
            var taxiFare = response.features[0].properties.taxiFare; // 예상 택시 요금
            var distance = response.features[0].properties.totalDistance; // 총 거리

            // 요금과 거리 정보를 화면에 출력
            $("#taxi_fare").text(
              "예상 택시 요금: " + addComma(taxiFare) + "원"
            );
            $("#distance").text("총 거리: " + addComma(distance) + "m");
          },
          error: function (error) {
            // API 요청이 실패했을 때 처리
            console.error("택시 요금 및 거리 계산에 실패했습니다.", error);
          },
        });
      }

      function addComma(num) {
        var regexp = /\B(?=(\d{3})+(?!\d))/g;
        return num.toString().replace(regexp, ",");
      }
    </script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link href="../css/main.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>with</title>
  </head>
  <body onload="initTmap();">
    <%- include('user.html') %>

    <br /><br />
    <!-- 택시 구하는 게시판 미리보기 -->
    <div class="main-border">
      <div class="main-border-more">
        <h3>With</h3>
      </div>
      <div class="main-border-menu">
        <div class="main-border-link">
          <a href="/write"><i class="fa-solid fa-comment-medical fa-5x"></i></a>
          <p>채팅룸 생성</p>
        </div>
        <div class="main-border-link">
          <a href="/list"><i class="fa-solid fa-border-all fa-5x"></i></a>
          <p>채팅룸 목록</p>
        </div>
      </div>
    </div>
    <br /><br />

    <div style="width: 80%; height: 500px; margin: auto">
      <div class="ft_area04" style="height: 100%; position: relative">
        <div id="map_div" style="width: 100%; height: 100%"></div>
      </div>
    </div>
    <div style="text-align: center">
      <button id="btn_select" class="btn btn-secondary">적용하기</button>
    </div>
  </body>
</html>
