<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    <link rel="stylesheet" href="/css/main.css">
    <meta name="_csrf" th:content="${_csrf.token}">
</head>
<body th:attr="data-username=${username}, data-writer=${writer}">
<div class="container">
    <div th:replace="~{ nav.html::navbar }"></div>
    <h4 class="ml-2 my-3 text-center">채팅 페이지</h4>
    <div id="participantsList" class="alert alert-info">참여자: 0명</div>
    <ul id="participantsNames" class="list-group alert alert-light"></ul>
    <div id="messageArea" class="alert alert-secondary"></div>
    <input type="text" id="messageInput" class="form-control" placeholder="메시지 입력...">
    <button onclick="sendMessage()" class="btn btn-primary btn-block mt-2">전송</button>
</div>

<script>
    var roomId = [[${roomId}]];
    var stompClient = null;
    var username = document.body.getAttribute('data-username');

    window.onload = function() {
        connect();
    };

    function connect() {
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var socket = new SockJS('/websocket-chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({'X-CSRF-TOKEN': csrfToken}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/' + roomId, function (message) {
                showMessage(JSON.parse(message.body));
            });
            stompClient.subscribe('/topic/participants/' + roomId, function (message) {
                updateParticipants(JSON.parse(message.body));
            });
            stompClient.subscribe('/user/queue/kick', function (message) {
                console.log("Received kick message: ", message);
                console.log("Message body: ", message.body);
                if (message.body === "redirect:/") {
                    window.location.href = "/";
                }
            });
            sendJoinMessage();
        }, function(error) {
            console.error('STOMP connection error: ' + error);
        });
    }

    function sendMessage() {
        var messageContent = document.getElementById('messageInput').value.trim();
        if (messageContent) {
            stompClient.send("/app/chat.sendMessage/" + roomId, {}, JSON.stringify({content: messageContent, type: 'CHAT'}));
            document.getElementById('messageInput').value = '';
        }
    }

    function sendJoinMessage() {
        var joinMsg = {sender: "System", content: username + "님이 접속하였습니다.", type: 'JOIN'};
        stompClient.send("/app/chat.addUser/" + roomId, {}, JSON.stringify(joinMsg));
    }

    function showMessage(message) {
        var messageArea = document.getElementById('messageArea');
        var messageElement = document.createElement('div');
        messageElement.classList.add('chat-message');
        if (message.type === 'CHAT') {
            messageElement.textContent = message.sender + ": " + message.content;
        } else if (message.type === 'JOIN' || message.type === 'LEAVE') {
            messageElement.textContent = message.content;
            messageElement.style.color = 'gray';
        }
        messageArea.appendChild(messageElement);
        messageArea.scrollTop = messageArea.scrollHeight;
    }

    function updateParticipants(data) {
        document.getElementById('participantsList').textContent = `참여자: ${data.count}명`;
            var participantsNames = document.getElementById('participantsNames');
            participantsNames.innerHTML = '';
        data.names.forEach(function(name) {
            var participantItem = document.createElement('li');
            participantItem.classList.add('list-group-item', 'participant-name');

            var infoDiv = document.createElement('div');
            infoDiv.classList.add('participant-info');
            infoDiv.textContent = name;

            var buttonDiv = document.createElement('div');
            buttonDiv.classList.add('participant-buttons');

            var reviewButton = document.createElement('button');
            reviewButton.textContent = '방명록';
            reviewButton.className = 'btn btn-sm btn-outline-secondary';
            reviewButton.onclick = function() {
                window.open('/review/' + name, '_blank');
            };

            buttonDiv.appendChild(reviewButton);


            // 강퇴 버튼은 writer가 로그인한 사용자와 일치할 경우에만 추가
            var writer = document.body.getAttribute('data-writer');
            if (username === writer) {
                var kickButton = document.createElement('button');
                kickButton.textContent = '강퇴';
                kickButton.className = 'btn btn-sm btn-danger';
                kickButton.onclick = function() {
                    // confirm 대화 상자를 사용하여 강퇴 전에 확인
                    if (confirm(name + '님을 강퇴하시겠습니까?')) {
                        var kickRequest = {
                            usernameToKick: name,
                            admin: username  // 현재 로그인한 사용자
                        };
                        stompClient.send("/app/chat.kickUser/" + roomId, {}, JSON.stringify(kickRequest));
                    } else {
                        console.log('강퇴가 취소되었습니다.');
                    }
                };
                buttonDiv.appendChild(kickButton);
            }


            participantItem.appendChild(infoDiv);
            participantItem.appendChild(buttonDiv);
            participantsNames.appendChild(participantItem);
        });
    }

    window.addEventListener("beforeunload", function (event) {
        navigator.sendBeacon("/app/disconnect", JSON.stringify({roomId: roomId, username: username}));
    });
</script>
</body>
</html>
