<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs/lib/stomp.min.js"></script>
    <meta name="_csrf" th:content="${_csrf.token}">
</head>
<body th:attr="data-username=${username}">
<div class="container">
    <div th:replace="~{ nav.html::navbar }"></div>
    <h4 class="ml-2 my-3 text-center">채팅 페이지</h4>
    <div id="participantsList">참여자: 0명</div>
    <div id="participantsNames">참여자: </div>
    <div id="messageArea" class="alert alert-secondary"></div>
    <input type="text" id="messageInput" class="form-control" placeholder="메시지 입력...">
    <br>
    <button onclick="sendMessage()" class="btn btn-primary">전송</button>
</div>

<script>
    var roomId = [[${roomId}]];
    var stompClient = null;
    var username = document.body.getAttribute('data-username');
    console.log("유저네임: " + username);

    window.onload = function() {
        connect();
    };

    function connect() {
        var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
        var socket = new SockJS('/websocket-chat');
        stompClient = Stomp.over(socket);
        stompClient.connect({'X-CSRF-TOKEN': csrfToken}, function (frame) {
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/' + roomId, function (message) {
                showMessage(JSON.parse(message.body));
            });
            stompClient.subscribe('/topic/participants/' + roomId, function (message) {
                updateParticipants(JSON.parse(message.body));
            });
            sendJoinMessage();
        }, function(error) {
            console.error('STOMP connection error: ' + error);
        });
    }

    function sendMessage() {
        var messageContent = document.getElementById('messageInput').value.trim();
        if (messageContent) {
            stompClient.send("/app/chat.sendMessage/" + roomId, {}, JSON.stringify({content: messageContent, type: 'CHAT'}));
            document.getElementById('messageInput').value = '';
        }
    }

    function sendJoinMessage() {
        var joinMsg = {sender: "System", content: username + "님이 접속하였습니다.", type: 'JOIN'};
        stompClient.send("/app/chat.addUser/" + roomId, {}, JSON.stringify(joinMsg));
    }

    function showMessage(message) {
        console.log("Received message:", message);
        var messageArea = document.getElementById('messageArea');
        var messageElement = document.createElement('div');
        messageElement.classList.add('chat-message');

        // 데이터에 'type' 필드가 존재하는지 확인
        if (message.type) {
            if (message.type === 'CHAT') {
                messageElement.textContent = message.sender + ": " + message.content;
            } else if (message.type === 'JOIN' || message.type === 'LEAVE') {
                messageElement.textContent = message.content;
                messageElement.style.color = 'gray';
            } else {
                messageElement.textContent = "Unknown message type: " + message.type;
            }
        } else if (message.count && message.names) {
            // 참가자 정보 업데이트 메시지 처리
            updateParticipants(message);
            return; // 이 경우 추가 메시지 처리를 중단
        } else {
            messageElement.textContent = "Received unsupported message format";
            console.error('Error: Received unsupported message format', message);
        }

        messageArea.appendChild(messageElement);
        messageArea.scrollTop = messageArea.scrollHeight;
    }

    function updateParticipants(data) {
        document.getElementById('participantsList').textContent = `참여자: ${data.count}명`;
        document.getElementById('participantsNames').textContent = `참여자: ${data.names.join(', ')}`;
        console.log("현재 참여자: " + data.count + "명 - " + data.names.join(', '));
    }

    window.addEventListener("beforeunload", function (event) {
        navigator.sendBeacon("/app/disconnect", JSON.stringify({roomId: roomId, username: username}));
    });
</script>


</body>
</html>
