<div class="nav-container" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="nav" th:fragment="navbar">
        <a href="/" class="logo">WITH</a>
        <a href="/list/page/1">List</a>
        <a href="/write">Write</a>

        <!-- 로그인 시에만 'MyPage' 보임 -->
        <a th:if="${#authorization.expression('isAuthenticated()')}" href="/my-page">MyPage</a>

        <!-- 로그인 안 했을 때만 'Login' 보임 -->
        <a th:if="${!#authorization.expression('isAuthenticated()')}" href="/login">Login</a>

        <!-- 로그아웃 버튼 (로그인 시에만 보임) -->
        <a th:if="${#authorization.expression('isAuthenticated()')}" href="#" onclick="document.getElementById('logout-form').submit(); return false;">Logout</a>
        <form th:if="${#authorization.expression('isAuthenticated()')}" id="logout-form" action="/logout" method="post" style="display: none;">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}" /> <!-- CSRF 토큰 추가 -->
        </form>
    </div>
</div>