<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup Page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div th:replace="~{ nav.html::navbar }"></div>
    <h4 class="mb-4 text-center">회원가입</h4>

    <div class="row justify-content-center">
        <div class="col-md-8">
            <img src="">
            <form action="/sign-up" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <input type="hidden" name="profileImageUrl" id="profileImageUrl">

                <div class="mb-3">
                    <label for="username" class="form-label">ID</label>
                    <input type="text" class="form-control" name="username" id="username" required>
                    <button type="button" class="btn btn-outline-secondary mt-2" onclick="checkUsername()">중복 확인</button>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password" required minlength="8">
                </div>
                <div class="mb-3">
                    <label for="displayName" class="form-label">Display Name</label>
                    <input type="text" class="form-control" name="displayName" id="displayName">
                    <button type="button" class="btn btn-outline-secondary mt-2" onclick="checkDisplayname()">중복 확인</button>
                </div>
                <div class="mb-3">
                    <label for="profileImage" class="form-label">Profile Image</label>
                    <input type="file" class="form-control" name="profileImage" id="profileImage" onchange="getURL(this)">
                </div>
                <div class="mb-3">
                    <label for="userType" class="form-label">User Type</label>
                    <select name="userType" class="form-select">
                        <option>승객</option>
                        <option>기사</option>
                    </select>
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-danger" id="submitBtn" disabled>등록</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    let isUsernameAvailable = false;
    let isDisplayNameAvailable = false;
    let isPasswordValid = false;
    let isImageUploaded = false;

    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('password').addEventListener('input', function() {
            isPasswordValid = this.value.length >= 8;
            updateSubmitButton();
        });

        document.getElementById('profileImage').addEventListener('change', function() {
            isImageUploaded = this.files.length > 0;
            updateSubmitButton();
        });

        document.getElementById('username').addEventListener('blur', checkUsername);
        document.getElementById('displayName').addEventListener('blur', checkDisplayname);
    });

    function updateSubmitButton() {
        document.getElementById('submitBtn').disabled = !(isUsernameAvailable && isDisplayNameAvailable && isPasswordValid && isImageUploaded);
    }

    async function getURL(e){
        let name = encodeURIComponent(e.files[0].name)
        let result = await fetch('/presigned-url?filename=' + name)
        result = await result.text();

        let res = await fetch(result, {
          method: 'PUT',
          body: e.files[0]
        })
        console.log(res);
        console.log(res.url.split("?")[0])
        if (res.ok) {
            document.getElementById('profileImageUrl').value = res.url.split("?")[0];
            isImageUploaded = true;
            updateSubmitButton();
        }
    }

    function checkUsername() {
        let username = document.getElementById('username').value;
        if (!username) {
            alert('아이디를 입력하세요.');
            isUsernameAvailable = false;
            updateSubmitButton();
            return;
        }
        fetch(`/check-username?username=${encodeURIComponent(username)}`)
            .then(response => {
                if (response.status === 200) {
                    response.text().then(text => {
                        if (text === 'Available') {
                            alert('사용 가능한 아이디입니다.');
                            isUsernameAvailable = true;
                        } else {
                            alert('아이디 중복 확인 중 문제가 발생했습니다.');
                            isUsernameAvailable = false;
                        }
                        updateSubmitButton();
                    });
                } else {
                    alert('이미 사용중인 아이디입니다.');
                    isUsernameAvailable = false;
                    updateSubmitButton();
                }
            })
            .catch(error => {
                console.error('Error during username check:', error);
                alert('서버 오류로 인해 아이디 중복 확인이 실패했습니다.');
                isUsernameAvailable = false;
                updateSubmitButton();
            });
    }

    function checkDisplayname() {
        let displayName = document.getElementById('displayName').value;
        if (!displayName) {
            alert('디스플레이 이름을 입력하세요.');
            isDisplayNameAvailable = false;
            updateSubmitButton();
            return;
        }
        fetch(`/check-displayname?displayName=${encodeURIComponent(displayName)}`)
            .then(response => {
                if (response.status === 200) {
                    response.text().then(text => {
                        if (text === 'Available') {
                            alert('사용 가능한 닉네임입니다.');
                            isDisplayNameAvailable = true;
                        } else {
                            alert('닉네임 중복 확인 중 문제가 발생했습니다.');
                            isDisplayNameAvailable = false;
                        }
                        updateSubmitButton();
                    });
                } else {
                    alert('이미 사용중인 닉네임입니다.');
                    isDisplayNameAvailable = false;
                    updateSubmitButton();
                }
            })
            .catch(error => {
                console.error('Error during display name check:', error);
                alert('서버 오류로 인해 닉네임 중복 확인이 실패했습니다.');
                isDisplayNameAvailable = false;
                updateSubmitButton();
            });
    }
</script>
</body>
</html>
